
$rubrik-font: 'Rubik', sans-serif, 'Times New Roman';
$text-font: 'Outfit', sans-serif, arial,'Times New Roman' ;
$top-rubrik: 'Libre Franklin', sans-serif, arial, 'Times New Roman';
*{
  box-sizing: border-box;
}
body{
  
  margin: 0;
  font-family: $text-font;

  header{
    background: linear-gradient(to left, rgb(247, 217, 152), rgb(240, 120, 41), rgb(247, 217, 152));
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
      font-family: $top-rubrik;
    }
  } 
}

main {
  margin: 0 10px;
  display: flex;
  flex-direction: column;

  h2{
    font-family: $rubrik-font;
    text-decoration: underline;
    font-size: 1.12em;
  }
  article:nth-of-type(2) img ,
  #middle img:last-child
  {
    width: 100%;
    margin: 5px 0;
    
  }
  #middle-container-one img{
    float: right;
    width: 9.6em ;
   padding-left: 5px;
   clear: right;
  }
  
  img:first-child{
    float: left;
    width: 8em;
    margin-top: 5px;
   
  }
  a{
    text-decoration: none;
    color: black;

    .fa-arrow-up{
      font-size: 40px;
      color: black;
    }
  }
  
}

footer{
  background-color: rgb(209, 208, 208);
  border-top: 2px dotted rgb(58, 57, 57);
  text-align: center;
  padding: 7vh 2vw;
  font-size: 0.9em;
  margin-top: 20px;
  h3{
    margin: 0;
  }
  a{
    border-radius: 5px;
    padding: 10px 8px;
    display: block;
  }
  a:nth-of-type(2){
    margin:0 4%;
  } 
} 


@media screen and (min-width: 500px){

  header {
    padding: 7em;
    margin-bottom: 3em;
  }
  
  main{
    
    align-items: center;
    justify-content: center;
    margin: 0 15%;

   article:first-child{
     text-align: center;
     width: 80%;
     font-size: 17.5px;
     h2{
       font-size: 22px ;
     }
   }
    article:nth-of-type(2) img{
      max-width: 350px;
      float: left;
      margin-right:  1em;
    }
   
    #middle-container-one{
      margin-bottom: 2em;
     img{
       width: 45%;
       margin-left: 1em;
       
     }
    }
   
    img:first-child{
      width: 30%;
    }

    #middle img:last-child{
      margin: 2em 0;
    }
    a{
      padding: 7px;
    }
  }
  footer{
    font-size: 15px;
    h3{
      font-size: 17px;
      
    }
    a{
      display: inline-block;
      padding: 13px 10px;
    }
    a:nth-of-type(2){
      margin:0 4%;
    } 
    
  }

  
}
@media screen and (min-width: 1010px)   {
  article:nth-of-type(2) > h2 {
    margin-left: 55%;
   }
}